:root {
  --rust: #db0000;
  --black: #000000;
  --white: #ffffff;
  --grey: #564d4d;
  --dark-rust: #831010;
}

* {
  margin: 0;
  border: 0;
}

html,
body {
  background-color: var(--black);
  color: var(--white);
  line-height: 1.2;
  min-height: 100vh;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100;
  height: 6.8rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-links-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
}

.nav-link {
  margin: 1.6rem;
}

.nav-link a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--white);
}
.nav-link a:hover {
  color: var(--grey);
}

.profile-image {
  /* width: 2rem;
  height: 2rem; */
}

.nav-link img {
  height: 3.2rem;
  width: 3.2rem;
}

.nav-link img:hover {
  border: 0.3rem solid var(--grey);
}
